@import '../../app.component.scss';
.example-spacer {
    flex: 1 1 auto;

}

.mat-toolbar.mat-primary {
    background-color: $bb-color;
}

.mat-flat-button.mat-primary {
    background-color: $bb-color;
}

.mat-flat-button.mat-primary:hover {
    background-color: #1e5d30;
}