<mat-toolbar color="primary">
    <span style="margin-right: 25%;">
        <img src="../../../assets/images/icons8-breaking-bad-color-96.png" style="width: 3em;">
        Breaking Bad Wiki 
    </span>

    <button mat-flat-button color="primary" (click)="navigate('characters')">Characters</button>
    <button mat-flat-button color="primary" (click)="navigate('episodes')">Episodes</button>
    <button mat-flat-button color="primary" (click)="navigate('quotes')">Quotes</button>
    <button mat-flat-button color="primary" (click)="navigate('deaths')">Deaths</button>
    <button mat-flat-button color="primary">About</button>
</mat-toolbar>