@import url('../../../app.component.scss');

.card-body {
    text-align: center;
}

.card-img, .card-img-top {
    width: 100%;
    height: 30em;
    object-fit: cover;
}

.card {
    margin-bottom: 2em;
}
